In [1]:
# https://www.kaggle.com/datasets/uciml/iris

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Outlier Detection

#### Outlier detection using z score using 4th standard deviation

In [19]:
# SepalLengthCm

In [15]:
df[df.SepalLengthCm>(df.SepalLengthCm.mean()+4*df.SepalLengthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [16]:
df[df.SepalLengthCm<(df.SepalLengthCm.mean()-4*df.SepalLengthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [20]:
# SepalWidthCm

In [17]:
df[df.SepalWidthCm>(df.SepalWidthCm.mean()+4*df.SepalWidthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [18]:
df[df.SepalWidthCm<(df.SepalWidthCm.mean()-4*df.SepalWidthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [21]:
# PetalLengthCm

In [22]:
df[df.PetalLengthCm>(df.PetalLengthCm.mean()+4*df.PetalLengthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [23]:
df[df.PetalLengthCm<(df.PetalLengthCm.mean()-4*df.PetalLengthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [24]:
# PetalWidthCm
df[df.PetalWidthCm>(df.PetalWidthCm.mean()+4*df.PetalWidthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [25]:
df[df.PetalWidthCm<(df.PetalWidthCm.mean()-4*df.PetalWidthCm.std())]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

#### Outlier detection using IQR

In [28]:
Q1=df.SepalLengthCm.quantile(0.25)
Q3=df.SepalLengthCm.quantile(0.75)
Q1, Q3

(5.1, 6.4)

In [29]:
IQR=Q3-Q1
IQR

1.3000000000000007

In [30]:
upper_limit=Q3+1.5*IQR
lower_limit=Q1-1.5*IQR
upper_limit, lower_limit

(8.350000000000001, 3.1499999999999986)

In [32]:
df[df.SepalLengthCm<lower_limit]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [33]:
df[df.SepalLengthCm>upper_limit]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

#### Outlier detection using quantile technique

In [43]:
lower_fense, upper_fense = df.SepalLengthCm.quantile([0.01,0.999])
lower_fense, upper_fense

(4.4, 7.870200000000006)

In [44]:
df[(df.SepalLengthCm<lower_fense)]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa

In [45]:
df[(df.SepalLengthCm>upper_fense)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
131,132,7.9,3.8,6.4,2.0,Iris-virginica

# Boosting

## AdaBoosting Classifier

In [56]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,4,4.6,3.1,1.5,0.2,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
130,131,7.4,2.8,6.1,1.9,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
10,11,5.4,3.7,1.5,0.2,Iris-setosa
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
107,108,7.3,2.9,6.3,1.8,Iris-virginica
88,89,5.6,3.0,4.1,1.3,Iris-versicolor

In [58]:
X = df.drop('Species',axis=1)
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [59]:
y = df['Species']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [61]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

y=lb.fit_transform(y)

In [63]:
# Split dataset into train and test set

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

#### Build AdaBoosting Model

In [72]:
from sklearn.ensemble import AdaBoostClassifier

# Create adaboost classifier object
ada = AdaBoostClassifier(n_estimators = 50, learning_rate = 1, random_state = 0)

# Train adaboost classifier
model1 =  ada.fit(X_train, y_train)

y_pred = model1.predict(X_test)

#### Evaluate Model

In [73]:
from sklearn.metrics import accuracy_score

print("AdaBoost Classifier Model Accuracy: ", accuracy_score(y_test, y_pred)

AdaBoost Classifier Model Accuracy:  1.0

In [77]:
# Great! It is showing 100% accuracy here

#### Further evaluating using SVC as base estimator

In [82]:
from sklearn.ensemble import AdaBoostClassifier

# import Support Vector Classifier
from sklearn.svm import SVC

# Accuracy calculations
from sklearn.metrics import accuracy_score
svc=SVC(probability=True, kernel='linear')

abc = AdaBoostClassifier(n_estimators=50, base_estimator=svc, learning_rate=1,random_state=0)

model2=abc.fit(X_train,y_train)

y_pred=model2.predict(X_test)

print("SVC Model Accuracy: ", accuracy_score(y_test, y_pred))

SVC Model Accuracy:  0.9777777777777777

C:\Users\hp\anaconda3\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [83]:
# It is showing 97% accuracy which is lower than default (decision tree) estimator